.slides-navigation .next,
.slides-navigation .prev {
    width: 47px;
    height: 47px;
    background-size:  cover;
    background-repeat: no-repeat;
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../icons/next-button.png);
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../icons/prev-button.png);
}